---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="p-1 md:py-10 md:px-8 border-b">
  <nav class="w-full max-w-screen-lg m-auto h-full min-h-8 text-center">
    <h2 class="float-none md:float-left">
      <HeaderLink href={import.meta.env.BASE_URL}>{SITE_TITLE}</HeaderLink>
    </h2>
    <div class="float-none md:float-right *:px-4 mt-2 md:mt-0">
      <HeaderLink href={import.meta.env.BASE_URL}>Blog</HeaderLink>
      <HeaderLink
        href={`${import.meta.env.BASE_URL}blog/2024/the-factorio-architecture`}
        >The Factorio Architecture</HeaderLink
      >
      <HeaderLink href={`${import.meta.env.BASE_URL}about`}>About</HeaderLink>
    </div>
  </nav>
</header>
