---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Main from "../components/Main.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, subTitle, tldr, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={tldr} />
  </head>

  <Body>
    <Header />
    <Main>
      <article>
        <div class="prose dark:prose-invert mx-auto">
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 id="title">{title}</h1>
          <p><em>{subTitle}</em></p>
          <h2 id="tldr">TL;DR</h2>
          <p>{tldr}</p>
          <hr />
          <slot />
          <a href={import.meta.env.BASE_URL}>Back to home</a>
        </div>
      </article>
    </Main>
    <Footer />
  </Body>
</html>
