---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Main from "../components/Main.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <Main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img
                class="w-full max-h-96 object-contain"
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="prose dark:prose-invert mx-auto">
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <p>{description}</p>
          <hr />
          <slot />
          <a href="/">Back to home</a>
        </div>
      </article>
    </Main>
    <Footer />
  </Body>
</html>
